<ion-header>
  <ion-navbar [color]="navBarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Items</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="itemsDisplay" padding>
  <ion-row>
    <ion-col>
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems(searchTerm)" [showCancelButton]="true" autocomplete="on"
        (ionCancel)="onCancel()" (ionClear)="onCancel()">
      </ion-searchbar>
    </ion-col>
    
    <ion-col col-4>
      <ion-item id="setFiltersItem" (click)="showSetFiltersAlert()">
        Set Filters
      </ion-item>
    </ion-col>
  
  </ion-row>
  <div class="itemCardDiv" *ngFor='let item of filteredItems' (click)="itemClick(item)" ion-item>
    <ion-card class="itemCard">
      <ion-card-header>
        {{item.name}}
      </ion-card-header>
      <ion-slides style="max-height:100px; position:relative" centeredSlides="true" pager="true">
        <ion-slide *ngFor='let image of item.imageUrls'>
          <img style="height:100px; width:100%" [src]="image">
        </ion-slide>
      </ion-slides>
    </ion-card>
    <ion-row>
      <div class="col col-bottom">
        <button class="addToCart"  ion-button (click)="addToCart(item)">
          <span>Add to Cart</span>
        </button>
      </div>
      <div class="col col-bottom">
        <button class="viewRecipe" ion-button (click)="itemClick(item)">View Recipe</button>
      </div>
    </ion-row>
  </div>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>