page-items {
    #setFiltersItem {
        margin-top: 4%;
        height: 3%;
        border-radius: 5%; 
    }
    #itemsDisplay {
        background-image: url("../../assets/images/pattern_3.jpeg");
    }
    .itemCardDiv {
        background-color: transparent;
        border-bottom: #999 solid;
        border-left: #aaa solid;
        border-right: #aaa solid;     
        border-radius: 2%;
        margin-bottom: 2%;
    }
    .itemCard {
    }
    .addToCart {
        background-color: orangered;
        span {
            margin-top: 5%;
            display: block;
        }
    }
    .viewRecipe {
        background-color: green;
        float: right;
    }
}
