

<ion-content padding>
<rating [(ngModel)]="rate" 
        readOnly="false" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" 
        ></rating>
      <button ion-button color="dark" (click)="postReview()">Post</button>
</ion-content>
