<ion-header>

  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class='has-header' id="login" padding>

  <form id="logInForm" [formGroup]="logInForm" (submit)="logIn()">
    <h3 id="logInFormHeader" text-center>Log into food app(Save your recipe progress and much more!)</h3>
    <div id="formContent">
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input type="email" [value]="LastUsedEmail" formControlName="email" placeholder="email@email.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password: </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="errors">
        <li *ngFor="let error of errors">
          {{error}}
        </li>
      </ion-item>
      <div id="logInButtons">
        <button id="logInButton" [disabled]="!logInForm.valid" ion-button type="submit">
          <p>
            Login
            <ion-icon name="arrow-forward"></ion-icon>
          </p>
        </button>
        <!--
        <div id="oauthSignInButtons">
          <button id="signInWithGoogle" ion-button>
            <ion-icon name="logo-googleplus"></ion-icon>
            Sign in using Google
          </button>

          <button id="signInWithFacebook" ion-button (click)=fblogin()>
            <ion-icon name="logo-facebook"></ion-icon>
            Sign in using Facebook
          </button>
        </div>
      -->
        <button ion-button (click)="signUp()">
          Not an existing user? Sign up
        </button>
      </div>
    
      </div>
  </form>
</ion-content>
