page-login {
    button {
        width : 100%;
    }
    #login {
        background: url('../../assets/images/pexels-photo-326281.jpeg')
    }
    #logInForm {
       #formContent {
        ion-item {
            margin-bottom: 2%;
            border-radius: 3%;
            }
        }
    }
    #signInWithGoogle {
        font-family: "roboto";
        background-color: #dd4b39;
        ion-icon {
            margin-right: 3%;
        }
    }
    #signInWithFacebook {
        background-color: #3B5998;
        ion-icon {
            margin-right: 3%;
        }
    }
    #logInButton {
        background-color: #32CD32;
    }
    #logInFormHeader {
        color:white;
    }
    #formContent {
        margin-top: 10%;
    }
    #logInButtons {
        button {
        font-size: 1.15em;
        }
    }
}
