<ion-header>

  <ion-navbar hideBackButton *navbar>
    <ion-title>recipe-tour</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides pager>
    <ion-slide *ngFor="let instruction of instructions; let i = index">
      <img [src]="instruction.image_url" class="slide-image" />
      <p [innerHTML]="instruction.content"></p>

      <ion-checkbox [checked]="instructionStatuses[instruction.id]" (ionChange)="statusChange($event,instruction.id)">
      </ion-checkbox>
    </ion-slide>

    <!-- Last slide where the recipe-tour is completed to show the final product-->
    <ion-slide>
      <img [src]="ready.image" class="slide-image" />
      <p class="slide-title">Congratulations!You successfully cooked this recipe</p>
      <button ion-button large clear icon-end color="primary" (click)="backToItems()">
        Continue
      </button>

      <!--   <ion-select interface="action-sheet" [(ngModel)]="rating" (ionChange)="postRating()">
        <ion-option value="1">1 star</ion-option>
        <ion-option value="2">2 stars</ion-option>
        <ion-option value="3">3 stars</ion-option>
        <ion-option value="4">4 stars</ion-option>
        <ion-option value="5">5 stars</ion-option>
      </ion-select>
      -->
      <button [disabled]="review_status" ion-button color="dark" (click)="reviewAlert()">Write a review</button>
      <p *ngIf="review_status">Thank you for review</p>
    </ion-slide>
  </ion-slides>
</ion-content>