<!--
  Generated template for the ScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>scan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="takePicture()">Take Picture</button>
</ion-content>
