<!--
  Generated template for the ShoppingBagPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Shopping Bag</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-title text-center>Items in your Bag</ion-title>
  <ion-list id="ingredientsList">
    <ion-row *ngFor="let item of shopping_items; let i=index">
      <ion-col *ngIf="existenceCheckFunc(item['id'])" class="removeIconCol" col-1>
        <ion-icon class="removeIcon" *ngIf="existenceCheckFunc(item['id'])" name="remove-circle" (click)="editShoppingBag(item, 'del')"></ion-icon>
      </ion-col>
      <ion-col *ngIf="existenceCheckFunc(item['id'])" col-11>
        <ion-item  no-lines>
          <ion-label (click)="strike(item['id'], item)" *ngIf="!strikes[item['id']]" class="label ingredientText">{{item.content}}</ion-label>

          <ion-label (click)="unStrike(item['id'], item)" *ngIf="strikes[item['id']]" class="label ingredientText">
            <del>{{item.content}}</del>
          </ion-label>
          <!--        <ion-icon *ngIf="!existenceCheckFunc(item['id'])" name="add-circle" (click)="editShoppingBag(item, 'add')"></ion-icon> -->

          <ion-avatar item-start>
            <img [src]="item.image_url">
          </ion-avatar>
          <input style="z-index : 9999" position="top" size="4" type="text" *ngIf="item.quantity!=null" item-end [value]="item.quantity">
          <ion-badge item-end>{{item.quantity_type}}</ion-badge>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>