page-shopping-bag {
    #ingredientsList {

        width: 100%;
        ion-item{
          white-space: normal;
        }
      }
      .ingredientText {
        white-space: normal;
      }
      .removeIcon {
        padding: 20% 20% 20% 20%;  
        font-size: 2em;
      }
      ion-row {
        ion-col {
          border-bottom: 1px dotted grey;
        }
      }
}
