page-home {
    #home {
        background-image: url("../../assets/images/pattern_5.jpeg");
    }
    #featuredRecipes {
        background: transparent;
        border-right: #ccc solid;
        border-radius: 3%;
        border-bottom: #bbb solid thin;
        ion-title {
            background-color: transparent;
        }
    }

    #featuredTitle {
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .viewFeaturedRecipeButton {
        width: 100%;
        background-color: #1e65b9;
    }
    .featuredRecipeImg {
        width: 70%;
        padding: 2%;
        margin-left: 13%;
    }
        
    .featuredHeading {
        margin-bottom: 5%;
   }
    .itemName {
        font-size: 0.9em;

    }

}
