<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="light-pink" id="homeNavBar">

    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content id="home" padding>
  <!--
  <ion-slides pager>
    <ion-slide style="max-width:300px; position:relative" *ngFor="let i of it">
      <h6h style="z-index : 9999">{{i.text}}</h6>
      <img [src]="i.image">
    </ion-slide>
  </ion-slides>
  -->

  <ion-item id="featuredRecipes">
    <ion-title id="featuredTitle" text-center><p>Today's featured recipes</p></ion-title>

    <ion-slides id="featuredRecipeSlides" loop pager>
      <ion-slide *ngFor="let item of special_items" (click)="itemClick(item)">
        <ion-row class="featured">
          <ion-title class="itemName text-center" text-center><h2>{{item.item.name}}</h2></ion-title>
        </ion-row>
        <ion-row class="featured">
          <img class="featuredRecipeImg" [src]="item.image_urls[0]" ion-img>
        </ion-row>
        <ion-row>
          <button class="viewFeaturedRecipeButton" ion-button>
            View Recipe  
          </button>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-item>

</ion-content>