<!-- <ion-menu [content]="content" side="right" id="menu2">
  <ion-content>
    <ion-list>
      <button ion-item  menuClose="menu2" detail-none>
        Close Menu 2
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
-->
<ion-header>


  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

   <ion-row style="text-align: center"> 
    <ion-title>{{recipe.name}}</ion-title>
    <ion-buttons>
      <button *ngIf="!added" color="medium-grey" ion-button (click)="addToPocket(recipe.id)" large>
        <ion-icon name="md-heart"></ion-icon>
      </button>

      <button *ngIf="added" color="danger" ion-button (click)="removeFromPocket(recipe.id)" large>
        <ion-icon name="md-heart"></ion-icon>
      </button>
      <button *ngIf="loggedIn" ion-button solid color="danger" (click)="recipeTour()">
        <ion-icon name="bowtie"></ion-icon>
        Cook Now
      </button>

    </ion-buttons>
  </ion-row>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-title text-center>Ingredients</ion-title>
<ion-list id="ingredientsList">
  <ion-row *ngFor="let ingredient of ingredients; let i = index">

      <ion-col col-1>
        <ion-icon style="color:green" *ngIf="loggedIn && shoppingBagStatus[ingredient.id]" name="checkmark-circle-outline" (click)="removeFromShoppingBag(ingredient)"></ion-icon>
        <ion-icon style="color:rgb(255, 81, 0)" *ngIf="loggedIn && !shoppingBagStatus[ingredient.id]" name="md-basket" (click)="addToShoppingBag(ingredient)"></ion-icon>
      </ion-col>
      <ion-col col-11>
        <ion-item>
          <ion-avatar style="z-index : 99999" position="top" item-start>
            <img [src]="ingredient.image_url" #ingImage (click)="openImage(ingImage)">
          </ion-avatar>
          <ion-label class="label ingredientText">{{ingredient.content}}</ion-label>
          <input style="z-index : 9999" position="top" size="4" type="text" *ngIf="ingredient.quantity!=null" item-end [value]="ingredient.quantity"> 
          <ion-badge item-end>{{ingredient.quantity_type}}</ion-badge>
          <ion-checkbox item-end [checked]="ingStatuses[ingredient.id]" (ionChange)="statusChange($event,ingredient)"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
