page-recipe {
 .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: red !important; 
  border-color: red !important;
  z-index: -1;
}
 
.ingredientText {
  white-space: normal;
}


#ingredientsList {
  width: 100%;
  ion-checkbox{
    margin-right: 1%;
    margin-left: 0%;
  }
  ion-label {
    margin: 0%;
  }
  ion-item{
   // white-space: normal;
  }
  ion-icon {
    margin-top: 10%;
  }
 }
}