<ion-header>

  <ion-navbar>
    <ion-title>Your Pocket</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
    <ion-item *ngFor="let recipe of pocket.recipes">
      {{recipe.name}}
      <button (click)="viewRecipe(recipe)" ion-button>View Recipe</button>
      <button (click) ="removeFromPocket(recipe.id)" ion-button>Remove from pocket</button>
    </ion-item>

    <ion-item *ngIf="pocket == null || pocket.recipes == null || pocket.recipes.length == 0">
      Looks like your recipes pocket is empty.
      Tap on the <ion-icon name="md-heart" color="medium-grey"></ion-icon> icon to add a recipe here.
    </ion-item>
</ion-content>
