<!--<ion-nav [root]="rootPage"></ion-nav>
-->
<ion-menu  id = "unauthenticated" [content]="content"> <!---->
  <ion-content >
    <ion-list>
      <ion-list-header>Menu</ion-list-header>
      <button ion-item menuClose *ngFor = "let page of unauthPages" (click) = 'openPage(page)'>
        {{page.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu id="authenticated" [content]="content"> <!---->
  <ion-content class ="mainMenu">
    <ion-list class="mainMenu">
      <ion-list-header class="mainMenu">Menu</ion-list-header>
      <button class="mainMenu" ion-item menuClose *ngFor = "let page of authPages" (click) = 'openPage(page)'>
        {{page.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content></ion-nav>
