page-signup {
    #signUp {
        background-image: url("../../assets/images/pexels-photo-326281.jpeg");
        h3 {
            color: white;
        }
    }
    button {
        width: 100%;
        font-family: "Roboto";
    }
    #signUpButton {
        width: 100%;
        font-size: 1.3em;
        background-color: orange ;
    }
    #alreadyHasAccount {
        background-color: #32CD32;
    }
    #signUpWithGoogle {
        font-family: "roboto";
        background-color: #dd4b39;
        ion-icon {
            margin-right: 3%;
        }
        font-size: 1.3em;
    }
    #signUpWithFacebook {
        background-color: #3B5998;
        ion-icon {
            margin-right: 3%;
        }
        font-size: 1.3em;
    }
    #signUpForm {
        margin-top: 6%;
        ion-item {
            border-radius : 3%;
            margin-bottom: 2%;
        }
    }
}
